@{;
    ViewBag.Title = "列表页面";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>;
    $(function () {
        InitialPage();
        GetGrid();
    });
    //初始化页面
    function InitialPage() {
        //resize重设布局;
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $('#gridTable').setGridHeight($(window).height() - 136.5);
            }, 200);
            e.stopPropagation();
        });
    }
    //加载表格
    function GetGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#gridTable');
        $gridTable.jqGrid({
            autowidth: true,
            height: $(window).height() - 136.5,
            url: "../../BaseManage/X_TXRENList/GetPageListJson",
            datatype: "json",
            colModel: [
                { label: 'ID', name: 'ID', index: 'ID', width: 100, align: 'left',sortable: true  },
                { label: '村社区', name: 'Arear', index: 'Arear', width: 100, align: 'left',sortable: true  },
                { label: '户主姓名', name: 'HuName', index: 'HuName', width: 100, align: 'left',sortable: true  },
                { label: '状态', name: 'TXStatus', index: 'TXStatus', width: 100, align: 'left',sortable: true  },
                { label: '退休适龄人员姓名', name: 'Name', index: 'Name', width: 100, align: 'left',sortable: true  },
                { label: '性别', name: 'Sex', index: 'Sex', width: 100, align: 'left',sortable: true  },
                { label: '年龄', name: 'Age', index: 'Age', width: 100, align: 'left',sortable: true  },
                { label: '身份证号码', name: 'SFZNumber', index: 'SFZNumber', width: 100, align: 'left',sortable: true  },
                { label: '户籍地址', name: 'HJAddress', index: 'HJAddress', width: 100, align: 'left',sortable: true  },
                { label: '收入证明', name: 'TXYLJUrl', index: 'TXYLJUrl', width: 100, align: 'left',sortable: true  },
                { label: '退休养老金', name: 'TXYLJ', index: 'TXYLJ', width: 100, align: 'left',sortable: true  },
                { label: '确认时间', name: 'TXQDate', index: 'TXQDate', width: 100, align: 'left',sortable: true  },
                { label: 'FID', name: 'FID', index: 'FID', width: 100, align: 'left',sortable: true  },
                { label: '相关证明', name: 'TXUrl', index: 'TXUrl', width: 100, align: 'left',sortable: true  },
                { label: '救助类别', name: 'JZTyoe', index: 'JZTyoe', width: 100, align: 'left',sortable: true  },
                { label: '归档日期', name: 'CreateDate', index: 'CreateDate', width: 100, align: 'left',sortable: true  },
            ],
            viewrecords: true,
            rowNum: 30,
            rowList: [30, 50, 100],
            pager: "#gridPager",
            sortname: 'ID',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                $('#' + this.id).setSelection(selectedRowIndex, false);
            }
        });
        //查询条件
        $("#queryCondition .dropdown-menu li").click(function () {
            var text = $(this).find('a').html();
            var value = $(this).find('a').attr('data-value');
            $("#queryCondition .dropdown-text").html(text).attr('data-value', value)
        });
        //查询事件
        $("#btn_Search").click(function () {
            var queryJson = {
                condition: $("#queryCondition").find('.dropdown-text').attr('data-value'),
                keyword: $("#txt_Keyword").val()
            }
            $gridTable.jqGrid('setGridParam', {
                postData: { queryJson: JSON.stringify(queryJson) },
                page: 1
            }).trigger('reloadGrid');
        });
        //查询回车
        $('#txt_Keyword').bind('keypress', function (event) {
            if (event.keyCode == "13") {
                $('#btn_Search').trigger("click");
            }
        });
    }
    //新增
    function btn_add() {
        dialogOpen({
            id: 'Form',
            title: '添加X_TXRENList',
            url: '/BaseManage/X_TXRENList/X_TXRENListForm',
            width: 'px',
            height: 'px',
            callBack: function (iframeId) {
                top.frames[iframeId].AcceptClick();
            }
        });
    }
    //编辑
    function btn_edit() {
        var keyValue = $('#gridTable').jqGridRowValue('ID');
        if (checkedRow(keyValue)) {
            dialogOpen({
                id: 'Form',
                title: '编辑X_TXRENList',
                url: '/BaseManage/X_TXRENList/X_TXRENListForm?keyValue=' + keyValue,
                width: 'px',
                height: 'px',
                callBack: function (iframeId) {
                    top.frames[iframeId].AcceptClick();
                }
            })
        }
    }
    //删除
    function btn_delete() {
        var keyValue = $('#gridTable').jqGridRowValue('ID');
        if (keyValue) {
            $.RemoveForm({
                url: '../../BaseManage/X_TXRENList/RemoveForm',
                param: { keyValue: keyValue },
                success: function (data) {
                    $('#gridTable').trigger('reloadGrid');
                }
            })
        } else {
            dialogMsg('请选择需要删除的X_TXRENList！', 0);
        }
    }
</script>
<div class="titlePanel">
    <div class="title-search">
        <table>
            <tr>
                <td>
                    <div id="queryCondition" class="btn-group">
                        <a class="btn btn-default dropdown-text" data-toggle="dropdown">选择条件</a>
                        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a data-value="Arear">村社区</a></li>
                            <li><a data-value="HuName">户主姓名</a></li>
                            <li><a data-value="TXStatus">状态</a></li>
                            <li><a data-value="Name">退休适龄人员姓名</a></li>
                            <li><a data-value="SFZNumber">身份证号码</a></li>
                            <li><a data-value="CreateDate">归档日期</a></li>
                        </ul>
                     </div>
                </td>
                <td>
                    <input id="txt_Keyword" type="text" class="form-control" placeholder="请输入要查询关键字" style="width: 200px;" />
                </td>
                <td style="padding-left: 5px;">
                    <a id="btn_Search" class="btn btn-primary"><i class="fa fa-search"></i>查询</a>
                </td>
            </tr>
        </table>
    </div>
    <div class="toolbar">
        <div class="btn-group">
            <a id="lr-replace" class="btn btn-default" onclick="reload()"><i class="fa fa-refresh"></i>&nbsp;刷新</a>
            <a id="lr-add" class="btn btn-default" onclick="btn_add()"><i class="fa fa-plus"></i>&nbsp;新增</a>
            <a id="lr-edit" class="btn btn-default" onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>&nbsp;编辑</a>
            <a id="lr-delete" class="btn btn-default" onclick="btn_delete()"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
        </div>
    </div>
</div>
<div class="gridPanel">
    <table id="gridTable"></table>
    <div id="gridPager"></div>
</div>
